.btn {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px 25px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  gap: 10px;
  cursor: pointer;
}
.btn_primary {
  background: #FF70B4;
  color: #FFFFFF;
}
.btn_primary:hover {
  border: 1px solid #FF70B4;
  background: #FFFFFF;
  color: #FF70B4;
}
.btn_secondary {
  background: #000000;
  color: #FFFFFF;
}
.btn_secondary:hover {
  border: 1px solid #000000;
  background: #FFFFFF;
  color: #000000;
}
.btn_ghost {
  background: transparent;
  border: 1px solid #888888;
  color: #888888;
}.dmbtn {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px 25px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  gap: 10px;
  cursor: pointer;
}
.dmbtn_primary {
  background: #FF70B4;
  color: #FFFFFF;
}
.dmbtn_primary:hover {
  border: 1px solid #FF70B4;
  background: #FFFFFF;
  color: #FF70B4;
}
.dmbtn_secondary {
  background: #000000;
  color: #FFFFFF;
}
.dmbtn_secondary:hover {
  border: 1px solid #000000;
  background: #FFFFFF;
  color: #000000;
}
.dmbtn_ghost {
  background: transparent;
  border: 1px solid #888888;
  color: #888888;
}