@import "../../styles/function.scss";

.btn {
  @include fle (
    $pd: 10px 25px, $jc: center, $ai: baseline, 
    $borRa: 5px, $fs: 18px, $bor: 0
  );
  gap: 10px;
  cursor: pointer;
  &_primary {
    background: $accent;
    color: $wt;
    &:hover {
      border: 1px solid $accent;
      background: $wt;
      color: $accent;
    }
  }

  &_secondary {
    background: $bk;
    color: $wt;
    &:hover {
      border: 1px solid $bk;
      background: $wt;
      color: $bk;
    }
  }

  &_ghost {
    background: transparent;
    border: 1px solid $gray;
    color: $gray;
  }
}