.btn {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 18px;
  border: 0;
  gap: 10px;
  cursor: pointer;
}
.btn_primary {
  background: #ff70b4;
  color: #ffffff;

  &:hover {
    border: 1px solid #ff70b4;
    background: #ffffff;
    color: #ff70b4;
  }
}

.btn_secondary {
  background: #000000;
  color: #ffffff;

  &:hover {
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
  }
}

.btn_ghost {
  background: transparent;
  border: 1px solid #888888;
  color: #888888;
}